<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:xo="http://typo3.org/ns/Ps/Xo/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
	<f:comment>
	<!--
		<div id="header">
			<f:render partial="Page/SkipNavigation" section="Main" />
			<f:render partial="Page/Logo" section="Svg" />

			<f:if condition="{navigationMain}">
				<nav class="navigation">
					<f:render partial="Navigation/Listing" section="Main" arguments="{navigation: navigationMain}" />
				</nav>
			</f:if>
		</div>
	-->
	</f:comment>

	<div id="content--main" role="main">
		<f:render section="Main" />
	</div>

	<f:comment>
	<!--
		<div class="svg-sprite--container">
			<xo:svg.inline source="assets/svg/sprite.svg" />
		</div>
	-->
	</f:comment>
	</f:spaceless>
	</html>