<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Main">

	<nav class="navigation">
		<ul>
			<li>
				<span>Game</span>
				<ul>
					<li>
						<f:link.action controller="Game" action="index">Index</f:link.action>
					</li>
				</ul>
			</li>
			<li>
				<span>Settlement</span>
				<ul>
					<li>
						<f:link.action controller="Settlement" action="listing">Listing</f:link.action>
					</li>
				</ul>
			</li>
		</ul>
	</nav>

</f:section>
</html>